/* --- Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");

$title-font: "Kavivanar";
$subtitle-font: "Kavivanar";
$core-font: "Montserrat";

/* --- Colors --- */
$titleColor: #5d4a66; //ok
$subtitleColor: #6a5d7b; //ok
$backgroundColor: #e6e6fa; // ok
$darkBackgroundColor: #8d89a6; //ok

/* --- Mixins --- */
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

/* --- Globals --- */
* {
  font-family: $core-font, sans-serif;
}

body {
  margin:0;
  padding: 0;
  background-color: $backgroundColor;
  h1 {
    font-size: 3.5rem;
    color: $titleColor;
    font-weight: 700;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $titleColor;
  }
  h3 {
    font-weight: 700;
    color: $subtitleColor;
  }
  h1,
  h2,
  h3 {
    font-family: $subtitle-font;
  }
}

/* --- Navbar --- */
.navbar {
  background: rgba(0, 0, 0, 0.7);
  z-index: 4000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  .logo {
    height: 30px;
    width: auto;
  }
  .navbar-nav {
    margin-right: 40px;
    .nav-item {
      color: $backgroundColor;
      margin: 0 10px;
      font-size: 1.3em;
      text-decoration: none;
    }
    .nav-item:hover {
      border-bottom: 2px solid white;
      color: white;
    }
  }
}

/* --- Landing page --- */
.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: {
    image: url(/assets/photos/pexels-rebecca-zaal-764681.jpg);
    size: cover;
    position: center;
    attachment: fixed;
  }

  .landing-content {
    margin: auto;
    @include flexCenter(column);
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;

    .landing-title {
      position: relative;
      left: 1.5rem;
      font-family: $title-font;
      font-size: 4rem;

      .landing-title-small {
        display: block;
        position: relative;
        left: -4.5rem;
        font-size: 2rem;
      }
    }

    p {
      font-style: italic;
      width: 80%;
    }
  }
}

.content {
  max-width: 1320px;
  margin:auto;
  background-color: #fd5949;
}

.members-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.member-card {
  background-color: transparent;
  text-align: center;
  max-width: 200px;
  margin: 10px 10px;
  .member-card-picture {
    margin: auto;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid $subtitleColor;
    width: 100%;
    height: auto;
  }
  .member-card-title {
    font-family: $subtitle-font;
    font-size: 2rem;
  }
}

footer {
  background-color: $darkBackgroundColor;
  // box-shadow: 0 -5px 5px $subtitleColor;
  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }

  .fa-facebook:hover {
    color: #4267b2;
    background: white;
    border-radius: 50%;
  }
  .fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fa-envelope:hover {
    color: rgb(204, 49, 38);
  }
}