@import "../../style/config/config";

.navbar {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo {
    height: 30px;
    width: auto;
  }

  .navbar-nav {
    margin-right: 1rem;

    .nav-item {
      color: $backgroundColor;
      margin: 0 10px;
      font-size: 1.2rem;
      text-decoration: none;
    }

    .nav-item:hover {
      border-bottom: 2px solid white;
      color: white;
    }
  }
}